name: Update Google Sheet

on:
  schedule:
    - cron: '0 0 * * *'
  workflow_dispatch:
  repository_dispatch:
    types: [trigger-from-sheets] # ต้องเยื้องแบบนี้เท่านั้น

jobs:
  run:
    runs-on: ubuntu-latest

    env:
      GOOGLE_CREDENTIALS: ${{ secrets.GOOGLE_CREDENTIALS }}

    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-python@v5
        with:
          python-version: '3.10'
          
# แก้ไข/เติมตรงนี้ครับ
      - run: |
          pip install yfinance pandas gspread oauth2client 
          pip install -r requirements.txt
          
      - run: pip install -r requirements.txt

      - run: python main.py
